{% extends "base.html" %}
{% block content_authenticated %}
<h4>Clientes</h4>
<a href="{% url 'cliente_nuevo' %}" class="btn btn-danger btn-sm mb-3">Nuevo cliente</a>
<table class="table table-bordered">
  <thead>
    <tr><th>Nombre</th><th>Dirección</th><th>Acciones</th></tr>
  </thead>
  <tbody>
    {% for cliente in clientes %}
    <tr>
      <td>{{ cliente.nombre }}</td>
      <td>{{ cliente.direccion }}</td>
      <td>
        <a href="{% url 'cliente_update' cliente.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
        <a href="{% url 'cliente_delete' cliente.pk %}" class="btn btn-sm btn-outline-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
