{% extends "base.html" %}
{% block content_authenticated %}

<h2>{{ titulo }}</h2>
<form method="post" class="card p-3 shadow-sm">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-danger">Guardar</button>
  <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>

  <input id="autocomplete" placeholder="Dirección" type="text" class="form-control">
  <input type="hidden" name="google_place_id" id="place_id">
  <input type="hidden" name="lat" id="lat">
  <input type="hidden" name="lng" id="lng">
</form>

<script src="https://maps.googleapis.com/maps/api/js?key=TU_API_KEY&libraries=places"></script>
<script>
function initAutocomplete() {
  const input = document.getElementById("autocomplete");
  const autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.addListener("place_changed", () => {
    const place = autocomplete.getPlace();
    document.getElementById("place_id").value = place.place_id;
    document.getElementById("lat").value = place.geometry.location.lat();
    document.getElementById("lng").value = place.geometry.location.lng();
  });
}
window.onload = initAutocomplete;
</script>
{% endblock %}
