{% extends "base.html" %}
{% load static %}

{% block content_authenticated %}
<h2>{{ titulo }}</h2>


{% include "citas/card_form/_cita_form.html" %}


{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places"></script>
<script type="module" src="{% static 'js/map/map.js' %}"></script>
<script type="module" src="{% static 'js/citas/cita_form.js' %}"></script>
{% endblock %}
