<nav class="navbar bg-light border-bottom px-3 d-flex flex-wrap align-items-center justify-content-between gap-3">
  <!-- Botones visibles solo en móvil -->
  <div class="d-flex d-lg-none gap-2">
    <button class="btn btn-outline-danger btn-sm" id="sidebarToggle">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <!-- Botón centrado y ancho completo -->
  <div class="w-100 text-center my-4">
    <a href="{% url 'mantenimiento_create' %}?fecha={{ today }}" class="btn btn-success">
      Subir mantenimientos diarios
    </a>
  </div>

</nav>
