{% load static %}
<!DOCTYPE html>
<html lang="es" data-theme="light">
<head>
  {% include "includes/head.html" %}
</head>
<body class="d-flex">

{% if request.user.is_authenticated %}
  {% include "includes/sidebar.html" %}
  {% include "includes/overlay.html" %}
  <main class="flex-grow-1">
    {% include "includes/navbar_authenticated.html" %}
    <section class="container py-3">
      {% block content_authenticated %}{% endblock %}
    </section>
  </main>
{% else %}
  <main class="flex-grow-1 w-100">
    {% include "includes/navbar_guest.html" %}
    <section class="container py-5">
      {% block content_guest %}{% endblock %}
    </section>
  </main>
{% endif %}

{% include "includes/scripts.html" %}
{% block scripts %}{% endblock %}

</body>
</html>
